<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizPresenter" class="ru.butakov.otus.hw01.presenter.CliQuizPresenterImpl"/>
    <bean id="quizProvider" class="ru.butakov.otus.hw01.provider.csv.CsvQuizProviderImpl"/>
    <bean id="quizService" class="ru.butakov.otus.hw01.service.QuizServiceImpl">
        <constructor-arg ref="quizProvider"/>
        <constructor-arg ref="quizPresenter"/>
    </bean>
</beans>
